body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 50px; */
}

.reset-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}